.pokemonSpritesContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    min-height: 500px;
}

.pokemonSprites {
    position: absolute;
    top: 0;
}

.pokemonSprites form {
    display: inline-block;
    width: 32%;
}

.pokemonSprites form button {
    background: transparent;
    border: 0;
    position: relative;
}

.pokemonSprites form button img {
    padding: 0;
    margin: 0;
}

.pokemonSprites form button img:hover {
    background: rgba(82, 147, 249, 0.1);
}

.saveButton {
    float: left;
    margin-top: 20px;
}

.shinyButton {
    margin-top: 20px;
    float: left;
    margin-left: 10px;
}

.encountersTextField {
    width: 100%;
}

#encounters {
    border: 0;
    background: transparent;
}

#encounters img {
    width: 100%;
}

.handhelds {
    margin-bottom: 20px;
}

.selectButton {
    float: left;
    margin-top: 20px;
}

.newShunt {
    position: absolute;
    top: 100px;
}

.particles {
    width: 35px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
}

.encounterForm {
    text-align: left;
}